* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background: white;
    margin-left: auto;
    margin-right: auto;
}
header {
    background: white;
    border-bottom: 2px solid rgb(73, 11, 131);
    border-right: 2px solid rgb(73, 11, 131);
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-family: Courier New, Courier, monospace;
    color: rgb(73, 11, 131);
}

h3 {
    text-decoration: underline;
    text-underline-position: below;
}

li {
    list-style-type: none;
}
footer {
    border-bottom: 2px solid rgb(73, 11, 131);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

